.container {
    display: flex;
    flex-direction: row;
    width: 900px;
    height: 300px;
    box-shadow: 0 0 3px 3px rgba(0,0,0,0.1);
    margin: 10px 0;
}

.image {
    width: 185px;
    height: auto;
}

.content {
    flex: 1;
    padding: 16px;
    background-color: white;
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.column {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.column > p {
    margin: 4px 0;
}

.rating {
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    border: 3px solid;
    border-radius: 20px;
}