.container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
    height: 120px;
    z-index: 10;
}

.logo {
    margin-right: 20px;
}