.container {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    margin: 20px auto 0 auto;
    min-height: calc(100vh - 200px);
}