.container {
    position: relative;
}

.input {
    width: 280px;
    height: 30px;
    padding: 10px 20px;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.inputOpen {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-width: 0;
}

.inputFocused {
    outline: none;
}

.suggestionsContainer {
    display: none;
}

.suggestionsList {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.suggestionsContainerOpen {
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: 30px;
    width: 280px;
    border: 1px solid #aaa;
    background-color: #fff;
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
}

.suggestion {
    cursor: pointer;
    padding: 10px 20px;
}

.suggestionHighlighted {
    background-color: #ddd;
}